<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- Custom fonts for this template-->
    
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
   

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0  my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            
                            <div class="col-lg-6 d-none d-lg-block">
                               
                                <div class="text-center" >
                                    <div class="text-info" style="font-weight: 900; font-size: 24px; color:#343a40; padding-top:30px">Login with D-Viruz</div>
                                    <img src="./assets/img/login.png"  style="max-width: 500px; max-height:600px" alt="login">
                                  </div>

                            </div>
                                                     
                            
                            <div class="col-lg-6">
                                <div class="p-5">
                                   
                                    <form class="user" [formGroup]="loginForm" (ngSubmit)="logIn()">
                                        <div class="form-group">
                                            <input type="email"  formControlName="mail" class="form-control form-control-user"
                                                id="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="Enter Email Address...">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" formControlName="password" class="form-control form-control-user"
                                                id="exampleInputPassword" placeholder="Password">
                                                <div class="text-center">
                                                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                                                </div>
                                                
                                        </div>
                                        

                                        <div class="form-group">
                                           
                                          <select class="form-control form-control-user" id="usertype" name="usertype" formControlName="position">
                                               <option value="" selected>Please Select User Type</option>
                                                <option value="volvo">Property Manager</option>
                                                <option value="saab">Property Developer</option>
                                                <option value="fiat">Employee</option>
                                                <option value="audi">Tenant</option>
                                            </select>
                                         </div>
                                     
                                        

                                    <div class="form-outline mb-4">
                                      
                                         <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text" id="basic-addon1"><i class="fa fa-globe" aria-hidden="true"></i></span>
                                            </div>
                                            <select class="form-control form-control-user" id="lan" name="language" formControlName="language">
                                              <option value="" selected>Select Language</option>
                                              <option value="1">English</option>
                                              <option value="2">German</option>
                                              <option value="3">French</option>
                                              <option value="4">Espanol</option>
                                            </select>
                                          </div>
                                    </div>

                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Remember
                                                    Me</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-info btn-block ">
                                            Login
                                        </button>
                                    
                                        
                                    </form>
                                  
                                   <hr>
                                    <div class="text-center">
                                       <span class="text-muted small"> New on D-viruz? </span><a class="small" routerLink="/register">Create an Account!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

  

</body>

</html>
